/project/project/
/project/target/
/target/
/log/
/repozitorijum_pitanja/
/kvizovi/
.DS_Store

# IntelliJ stuff
.idea/

# Eclipse stuff
.classpath
.project
.settings/
/bin/

.cache-main
.cache-tests

